body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 0 10px grey;
}

h1 { /* título BuzzQuizz */
    color: white;
    font-size: 37px;
    font-weight: 700;
}

.screen1 {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 69px;
    z-index: 0;
}

.your-quizz {
    width: 1051px;
    height: 181px;
    border: 2px dashed #B9B9B9;
    border-radius: 5px;
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.your-quizz > p {
    color: #B9B9B9;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.create-quizz { /* botão Criar Quizz */
    width: 136px;
    height: 40px;
    border: 2px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.create-quizz > p {
    color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.screen2A { /* tela quizz escolhido pelo usuário */
    width: 100%;
    height: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 69px;
    z-index: 1; 
}

.banner {
    width: 100%;
    height: 227px;
}

.banner > img {
    filter: opacity(0.6) drop-shadow(0 0 0 black);
    width: 100%;
    height: 227px;
}

.banner > p {
    color: white;
    font-size: 39px;
    text-align: center;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.question {
    width: 759;
    height: 676;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
}

.asking {
    width: 688px;
    height: 138px;
    background-color: blue;
    margin-top: 28px;
}

.asking > p {
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

.answer {
    display: flex;
}

.answer > img {
    width: 330px;
    height: 175px;
}

.answer > p {
    font-size: 20px;
}

.screen3A { /* tela info básicas */
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    z-index: 1;
}

.screen3B { /* tela perguntas */
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    z-index: 1;
}

.screen3C { /* tela níveis */
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    z-index: 1;

}

.screen3D { /* tela sucesso */
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
    z-index: 1;

}

h2 {
    color: black;
    font-size: 23px;
    font-weight: 700;
    margin-bottom:36px;
}

.fields {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: pink;
}

.fields h3{
    margin-left: 4.5px;
    margin-top: 27px;
    margin-bottom:12px;
    font-size: 20px;
    font-weight: 700;
}

.fields input{
    width: 564px;
    height: 46px;
    padding-left: 23px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    margin: auto;
}

.fields > input::placeholder{
    color: #BABABA;
}

.red-button {
    height: 54px;
    padding: 0 45px;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    margin-top: 81px;
}

.grey-button {
    height: 54px;
    padding: 0 45px;
    background-color: aqua;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #818181;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.show-screen{
    display: flex;
}


.all-quizz{
    width: 1051px;
    height: 100%;
    margin-top: 77px;
}

.all-quizz h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.all-quizz ul{
    width: 1051px;
    height: 100%;
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rectangle{

    position: relative;
    z-index: 2;
}

li .tittle-quizz{
    color:white;
    margin-top: 130px;
    margin-left: 20px;
    margin-right: 21px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    word-wrap: break-word;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}
.image{
    box-sizing: border-box;
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    border-radius: 5px;
}

.gradiente{
    position: absolute;
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.test{
    position: relative;
}

@media (max-width: 110px) {
    
}